@import "tailwindcss";
@import 'tailwind-scrollbar-hide/v4';

:root{
    --pullemailsblock-height: 50px;
    --primary-color: #D9D9D9;
    --secondary-color: #3C3535;
    --tertiary-color: #FFFCFC;
    --text-primary-color: white;
}

html,body{
  width:100%;
  height:100%;
}

#root{
  width: 100%;
  height:100%;
}